.new-display-container{ 
    // background-color: rgba(255, 255, 255, 0.2)
    div,p,span,h1,h2,h3,h4,h5,h6{
        color: #fff;
        font-family: KaiTi;
    }
    .ring-income{
        width: 190px;
        height: 190px;
        padding: 10px;
    }
    .headTop{
        height: 116px;
        background: #182446;
        .first-Head-Box,.second-Head-Box,.last-Head-Box{
            height: 116px;
            // display: inline-block;
            float: left;
            line-height: 116px;
            
            text-align: center;
            vertical-align: top;
            
        }
        .first-Head-Box{           
            font-size: 26px;
            width: 320px;
            // padding-top: 33px;
            padding-left: 20px;
            .dian{
                width: 6px;
                height: 6px;
                display: inline-block;
                background: #fff;
                border-radius: 50%;
                margin: 0 10px;
                position: relative;
                top: -4px;
            }
            .logoPic{
                width: 60px;
                height: 60px;
            }
            .logoPic2{
                width: 100%;
                height: auto;
            }
            .logoSign,.logoPic{
                display: inline-block;
                vertical-align: top;
            }
            .logoSign{
                text-align: left;
                p{
                    line-height: 30px;
                }
                .sign{
                    font-size: 24px;
                }
                .englishSign{
                    font-size: 16px;
                }
            }
        }
        .second-Head-Box{
            width: 1270px;
            img{
                vertical-align: top;
            }
        }
        .last-Head-Box{
            padding: 30px 0;
            width:320px;
            .nowDate{
                font-size: 22px;
                line-height: 40px;
            }
            .nowTime{
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
    .Bottom-container{
        width: 100%;
        height: 120px;
        background: rgba(128,125,122,0.8);
        border-top: #978883 6px solid;
        position: fixed;
        bottom: 0;
        left: 0;;
        .first-bottom-Box,.second-bottom-Box,.last-bottom-Box{
            height: 120px;
            display: inline-block;
            vertical-align: top;
        }
        .first-bottom-Box,.last-bottom-Box{
            padding: 30px 0;
            img{
                width: 60px;
                height: 60px;
                vertical-align: top;
                margin-right: 10px;
            }
            .bottomList{
                display: inline-block;
                vertical-align: top;
                p{
                    line-height: 28px;
                    span{
                        font-size: 24px;
                        letter-spacing: 2px;
                    }
                    .leftCont{
                        width: 120px;
                        display: inline-block;
                    }
                    .rightCont{
                        margin-left: 15px;
                        width: 160px;
                        display: inline-block;
                        text-align: left;
                    }
                }
            }
        }
        .first-bottom-Box{
            padding-left: 48px;
            width: 450px;
        }
        .last-bottom-Box{
            float: right;
            width: 380px;
            padding-right: 20px;
            .bottomList{
                p{
                    .leftCont{
                        width: 80px;
                        display: inline-block;
                    }
                    .rightCont{
                        margin-left: 15px;
                        width: 150px;
                        display: inline-block;
                        text-align: right;
                    }
                }
            }
        }
        .second-bottom-Box{
            width:1000px ;
            text-align: center;
            line-height: 120px;
            font-size: 40px;
            letter-spacing: 3px;
        }
    }
    .display-container-part{
        padding: 60px 70px; 
        .display-Box{
            .first-box,.three-box{
                width: 270px;
                height: 734px;
                vertical-align: top;
                h3{
                    font-size: 24px;
                    text-align: left;
                    margin-bottom: 25px;
                }
                .allUseNum{
                    display: flex;
                    width: 100%;
                    text-align: center;
                    background: rgba(0,0,0,0.4);
                    div{
                        flex: 1;
                        padding: 10px 0;
                        span{
                            border-right: 1px dashed #7b7979;
                            display: block;
                            font-size: 36px;
                        }
                    }
                    div:last-of-type{
                        span{
                            border-right: none;
                        }
                    }
                }
                .side-container{
                    background: rgba(0,0,0,0.2);
                    height: 500px;
                    padding-top: 30px;
                    margin-bottom: 120px;
                }
            }
            .second-box{
                float: left;
                vertical-align: top;
                height: 740px;
                margin: 0 46px;
                position: relative;
                text-align: center;
                .toilet1Pic{
                    width: 1138px;
                    height: 740px; 
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .display-set1{
                    position: relative;
                    width: 1138px;
                    height: 740px;
                    .left1,.right1,.left2{
                        position: absolute;
                        left: 755px;
                        top: 101px;
                        li{
                            width: 60px;
                            height: 77px;
                            text-align: center;
                            line-height: 77px;
                        }
                    }
                    .right1{
                        left: 850px;
                    }
                    .left2{
                        left: 1014px;
                    }
                    .entrance{
                        position: absolute;                     
                        width: 140px;
                        height: 42px;
                        background:rgba(120,150,97,0.8);
                        font-size: 30px;
                        text-align: center;
                        line-height: 42px;
                    }
                    .entrance1{
                        left: 492px;
                        top: 658px;
                    }
                }
                .display-set2{
                    position: relative;
                    width: 1138px;
                    height: 740px;
                    .left1,.right4{
                        position: absolute;
                        top: 32px;
                        li{
                            width: 60px;
                            height: 68px;
                            text-align: center;
                            line-height: 68px;
                        }
                    }
                    .left1{
                        left: 56px;
                    }
                    .right4{
                        left: 1020px;
                    }
                    .right1,.left2,.right2,.left3,.right3,.left4{
                        position: absolute;
                        top: 98px;
                        li{
                            width: 60px;
                            height: 70px;
                            text-align: center;
                            line-height: 64px;
                        }
                    }
                    .right1{
                        left: 232px;
                    }
                    .left2{
                        left: 325px;
                    }
                    .right2{
                        left: 500px;
                    }
                    .left3{
                        left: 586px;
                    }
                    .right3{
                        left: 756px;
                    }
                    .left4{
                        left: 856px;
                    }
                    .entrance{
                        position: absolute;                     
                        width: 134px;
                        height: 42px;
                        background:rgba(120,150,97,0.8);
                        font-size: 30px;
                        text-align: center;
                        line-height: 42px;
                    }
                    .entrance1{
                        left: 506px;
                        top: 657px;
                    }
                }
                .display-set4{
                    position: relative;
                    width: 1138px;
                    height: 740px;
                    .left1,.right4{
                        position: absolute;
                        top: 29px;
                        li{
                            width: 60px;
                            height: 71px;
                            text-align: center;
                            line-height: 71px;
                        }
                    }
                    .left1{
                        left: 56px;
                    }
                    .right4{
                        left: 1020px;
                    }
                    .right1,.left2,.right2,.left3,.right3,.left4{
                        position: absolute;
                        top: 102px;
                        li{
                            width: 60px;
                            height: 70px;
                            text-align: center;
                            line-height: 66px;
                        }
                    }
                    .right1{
                        left: 232px;
                    }
                    .left2{
                        left: 325px;
                    }
                    .right2{
                        left: 500px;
                    }
                    .left3{
                        left: 586px;
                    }
                    .right3{
                        left: 756px;
                    }
                    .left4{
                        left: 856px;
                    }
                    .entrance{
                        position: absolute;                     
                        width: 138px;
                        height: 42px;
                        background:rgba(120,150,97,0.8);
                        font-size: 30px;
                        text-align: center;
                        line-height: 42px;
                    }
                    .entrance1{
                        left: 422px;
                        top: 675px;
                    }
                }
                .display-set3{
                    position: relative;
                    width: 1138px;
                    height: 740px;
                    .left1{
                        position: absolute;
                        left: 71px;
                        top: 180px;
                        li{
                            width: 60px;
                            height: 75px;
                            text-align: center;
                            line-height: 75px;
                        }
                    }
                    .right1,.left2{
                        position: absolute;
                        left: 255px;
                        top: 180px;
                        li{
                            width: 60px;
                            height: 95px;
                            text-align: center;
                            line-height: 94px;
                        }
                    }
                    .left2{
                        left: 367px;
                    }
                    .entrance{
                        position: absolute;                     
                        width: 130px;
                        height: 48px;
                        background:rgba(120,150,97,0.8);
                        font-size: 30px;
                        text-align: center;
                        line-height: 48px;
                    }
                    .entrance1{
                        left: 604px;
                        top: 667px;
                    }
                }
            }
            .first-box{
                text-align: center;
                // padding: 30px;
                float: left;
                
                .wenTitle{
                    font-size: 26px;
                    margin-bottom: 6px;
                }
                .special{
                    width: 28px;
                    display: inline-block;
                }
                .weatherIcon{
                    width: 50px;
                    height: 50px;
                    margin: 20px 6px;
                }
                .nowTemp{
                    font-size: 40px;
                }
                .weatherCont{
                    font-size:20px;
                    margin: 10px 0 20px; 
                    line-height: 24px;
                    .split{
                        font-size:20px;
                        position: relative;
                        top: 6px; 
                    }
                    span{
                        font-size:20px;
                        line-height: 24px;
                    }
                }
            }
            .three-box{
                // padding: 20px;
                // padding-left: 30px;
                float: right;
                .threeBox{
                    padding: 10px 38px 0;
                }
                .useList{
                    padding: 16px 12px;
                    border-bottom: 1px solid #5a5757;
                    span{
                        font-size: 28px;
                    }
                }
                .useList:last-of-type{
                    border-bottom: none;
                }
                .rightpan{
                    display: inline-block;
                    width: 49px;
                    text-align: center;
                    margin-left: 15px;
                    letter-spacing: 1px;
                }
                .blue1{
                    color: #74c9d5
                }
                .red1{
                    color:#f03836
                }
                .green1{
                    color: #7ac66d
                }
                .orange1{
                    color: #e88750
                }
            }
        }
    }
}
.bg-box{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    img{
        width: 100%;
        height: 100%;
    }
}