.head-container{
    height: 60px;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: #0090e1;
    .head-title{
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        line-height: 60px;
        padding-left: 10px;
    }
    .headRight{
        padding-right: 30px;
        span,i{
            color: #fff;
            line-height: 60px;
            font-size: 16px;
        }
    }
    .gslogo{
        width: 45px;
        height: 45px;
        position: relative;
        top: -3px;
        margin-left: 10px;
    }
}
.toiletInfo-container{
    .el-col{
        // border: 1px solid red;
    }
    .cinfo-content{
        border-bottom: 1px solid #ccc;
    }
    .content{
        padding:30px 0  ;
        text-align: center;
    }
    .borderR{
        border-right: 1px solid #ccc
    }
    .left-title{
        font-size: 20px;
        margin-bottom: 20px;
        color: #333;
    }
    .contentHeight{
        height: 350px;
    }
    .listContent{
        line-height: 50px;
        font-size: 16px;
        color: #666
    }
    .info-title{
        text-align: center;
        padding: 30px 0;
        font-size: 24px;
        color: #333;
        font-weight: bold
    }
    .nanicon{
        margin-left: 16px;
        width: 30px;
        height: 30px;
        margin-top: -4px;
    }
}
.dataTitle{
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
    // font-weight: bold;
    background: #fbfbfb;
    padding: 16px 20px;
    span{
        font-size: 15px;
    }
    .fa{
        font-size: 18px;
        margin-left: 3px;
    }
}
.el-popover{
    min-width: 100px;
    cursor: pointer;
}
.toilet-set-box{
    background: #f5f5f5;
}
.displayBox{
    background: #fff;
    margin-top: 20px;
}
.toiletSet-right-container{   
    .box1{
        text-align: center;
        p{
            color: #999;
            font-size: 18px;
            margin: 15px 0 15px;
        }
        .nowTime{
            color: #0090e1;
            font-size: 47px;
        }
    }
    .box2{
        .first{
            font-size: 16px;
            color: #999;
            padding-left: 20px;
            margin-bottom: 10px;
        }
        p{
            line-height: 50px;
            padding-left: 40px;
            .cleft{
                font-size: 24px;
                color: #999999
            }
            .cright{
                font-size: 24px;
                color: #36a7fe
            }
        }
    }
    .box3{
        // padding-left: 60px;
        text-align: center;
        p{
            color: #999;
            font-size: 16px;
            line-height: 40px;
            span{
                display: inline-block;
                min-width: 80px;
                font-size: 16px;
                font-weight: bold;
                text-align: left;
            }
        }
    }
}

.toiletSetDialog{
    .el-select{
        width: 100%;
    }
}
.toliet-set-container{
    border: 6px solid #0090e1;
    border-bottom: none;
    .toilet3,.toilet4{
        li {
            padding: 30px;
            padding-left: 0;
            border-bottom: 2px solid #999;
            // box-sizing: content-box;
        }
        li:last-of-type{
            border-bottom: none;
        }
    }
    .toilet4{
        text-align: right;
        li{
            padding-right: 0px;
            // border-style:solid none solid solid;
        }
        
    }
    .toilet1,.toilet2{
        text-align: right;
        li{
            padding: 15px;
            padding-right: 10px;
            border-style:solid none solid solid;
            border-width: 1px ;
            border-color: #999;
            margin-bottom: 20px;
            // box-sizing: content-box;
            img{
                width: 60px;
                height: auto;
            }
        }
        li:last-of-type{
            margin-bottom: 0;
        }
        
    }

    .toilet2{
        text-align: left;
        li{
            padding-left: 10px;
            border-style:solid solid solid none ;
        }
    }
    .toiletMount4 li{
        margin-bottom:112px;
    }
    .borderR{
        border-right: 3px solid #0090e1
    }
    .borderL{
        border-left: 3px solid #0090e1;
        margin-left: -1px;
    }
    .borderL2{
        border-left: 3px solid #0090e1;
    }
    .borderL3{
        border-left: 3px solid #0090e1;
        //  margin-left: -1px;
    }
}
.toilet-set-box2{
    .toilet1,.toilet2{
        li{
            padding: 10px;
            padding-right: 10px;
            border-style:solid none solid solid;
            border-width: 1px ;
            border-color: #999;
            margin-bottom: 10px;
            img{
                width: 50px;
                height: auto;
            }
        }
        li:last-of-type{
            margin-bottom: 0;
        }
    }
    .toilet2{
        text-align: left;
        li{
            padding-left: 10px;
            border-style:solid solid solid none ;
        }
    }
    .sLbox5,.sRbox5{
        li{
            padding: 10px;
            margin-bottom: 50px;
        }
        
    }
    .sLbox5 li{
        padding-left: 10px;
    }
    .sRbox5 li{
        padding-right: 10px;
    }
}
@media  screen  and (max-width:1600px){
    .toliet-set-container{
        border: 5px solid #0090e1;
        border-bottom: none;
        .toilet3,.toilet4{
            li{            
                img{
                    width: 47px;
                    height: auto;
                }
            }
        }
        .toilet1,.toilet2{
            li{            
                img{
                    width: 40px;
                    height: auto;
                }
            }
        }
    }
    .toilet-set-box2{
        .toilet1,.toilet2{
            li{
                padding: 10px;
                padding-right: 10px;
                border-style:solid none solid solid;
                border-width: 1px ;
                border-color: #999;
                margin-bottom: 10px;
                img{
                    width: 50px;
                    height: auto;
                }
            }
            li:last-of-type{
                margin-bottom: 0;
            }
        }
        .toilet2{
            text-align: left;
            li{
                padding-left: 10px;
                border-style:solid solid solid none ;
            }
        }
        .sLbox5,.sRbox5{
            li{
                padding: 10px;
                margin-bottom: 63px;
            }
            
        }
        .sLbox5 li{
            padding-left: 10px;
        }
        .sRbox5 li{
            padding-right: 10px;
        }
    }
    .toiletSet-right-container{   
        .box1{
            text-align: center;
            p{
                color: #999;
                font-size: 14px;
                margin: 10px 0 ;
            }
            .nowTime{
                color: #0090e1;
                font-size: 40px;
            }
        }
        .box2{
            .first{
                font-size: 16px;
                color: #999;
                padding-left: 20px;
                margin-bottom: 5px;
            }
            p{
                line-height: 38px;
                padding-left: 30px;
                .cleft{
                    font-size: 21px;
                    color: #999999
                }
                .cright{
                    font-size: 21px;
                    color: #36a7fe
                }
            }
        }
        .box3{
            // padding-left: 60px;
            text-align: center;
            p{
                color: #999;
                font-size: 16px;
                line-height: 40px;
                span{
                    display: inline-block;
                    min-width: 80px;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: left;
                }
            }
        }
    }
}
.left-container{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 60px;
    width: 200px;
    background: #fff;
    height: calc(100% - 60px);
    .fa{
        color: #0090e1;
        margin-right: 10px;
        font-size: 16px;
    }
    .el-submenu .el-menu-item{
        padding-left: 50px!important;
    }
    .bigBox{       
        border-bottom: 1px solid #f3f3f3;
    }
    .headBox{
        width: 80px;
        margin: 0 auto;
        text-align: center;
        p{
            margin-bottom: 15px;
            color: #666;
            font-size: 16px;
        }
    }
    
    .headIcon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px auto 12px;;
    }
    .el-menu{
        border-right: none;
    }
    .el-menu,.el-submenu,.el-submenu__title{
        width: 200px;
    }
    .el-menu-item.is-active{
        background: #0090e1;
        color: #fff;
    }
    .el-menu-item:hover{
        background: rgba(0, 144, 225,0.7);
        color: #fff;
    }
}
.search-container{
    .el-input__inner{
        height: 30px;
        line-height: 30px;
    }
    .el-button{
        padding: 6px 16px;
    }
}
.title-container{
    padding: 5px 10px;  
    background: #fff;
    h1{
        font-size: 18px;
        padding: 15px 10px;  
        border-bottom: 1px solid #eee;
    }
}
.toiletCode{
    color: #f00;
    font-size: 18px;
    position: relative;
    top: 5px;
    margin:0 5px;
    display: inline-block;
    min-width: 32px;
}

.main-container{
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    background: #f5f5f5;
    min-height: 800px;
    .render-container{
        // background: #fff;
        // min-height: 755px;
        // padding: 20px;
    }
    .render-div{
        background: #fff;
        min-height: 755px;
    }
}
.login-container{
    width: 480px;
    margin: 177px auto;
    padding: 30px 0px 0;
    border: 1px solid #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    .MainTitle,h6{
        font-size: 38px;
        text-align: center;
        margin-bottom: 18px;
        color: #fff
    }
    h6{
        font-size: 14px;
    }
    .loginBtn .el-button{
        background: #36a7fe;
        width: 100%;   
        span{
            color: #fff;
        }
    }
    .input-container{
       
        background: #fff;
        padding: 35px 83px 20px;
    }
    .el-button:focus, .el-button:hover {
        color: #409EFF;
        border-color: #5aa0ef;
        background-color: #5aa0ef;
    }
}
.bgBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fcfcfc;
    img{
        position: absolute;
        left: 0;
        top:0;
        z-index: -1;
        width: 100%;
        height: 320px;
    }
}
.disInline{
    display: flex;
    .box{
        flex: 1;
        text-align: center;
        p{
            font-size: 24px;
            color: #666666;
            // font-weight: bold;
            padding: 10px 0;
        }
    }
    .boxData{
        margin-top: 20px;
        padding: 50px 0;
        font-size: 30px;
        border-right: 1px solid #eee;
    }
    .borderNo{
        border-right: none;
    }
}
.chart-container{
    width: 100%;
    height: 300px;
}
.platform-container,.addForm{
    width: 430px;
    .readOnly{
        .el-input__inner{
            border: none;
        }
    }
    .el-input__inner{
        // height: 32px;
        // line-height: 32px;
    }
    .el-form-item__label{
        font-weight: bold;
        // line-height: 32px;
    }
    .el-input__suffix{
        // top: 5px;
    }
    .el-form-item__content{
        // line-height: 32px;
    }
    .el-select{
        width: 100%
    }
    .el-button{
        padding: 8px 20px;
    }
}
.addForm{
    .el-form-item__label{
        font-weight: normal;
    }
}

.commonColor{
    color: #0090e1;
}
.commonBg{
    background: #0090e1
}
.tableBox{
    width: 100%;
    th{
        border-bottom: 1px solid #f0f0f0;
        padding: 16px 5px;  
        font-weight: bold;
        color: #666666;
        font-size: 14px;
    }
    td{
        border-bottom: 1px solid #f0f0f0;
        padding: 15px 5px;
        text-align: center;
        color: #999;
        font-size: 14px;
    }
    .headIcon{
        width: 40px;
        height: 40px;
        border-radius: 50%
    }
    .tedit{
        color: #0090e1;
        margin-right: 10px;
    }
    .tdelete{
        color: #f56c6c
    }
}
.mb0{
    margin-bottom: 0;
}
.green{
    color: #16de68;
    font-weight: bold;
}
.noData{
    text-align: center;
    line-height: 350px;
    color: #0090e1;
    font-size: 22px;
}
.bindExplain{
    text-align: right;
    margin-bottom: 12px;
    em{
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 5px;
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
    .bind {
        margin-right: 20px;
        em{
            background: #16de68;
        }
    }
    .unbind {
        em{
            background: #f00;
        }
    }
}
.display-container{
    width: 100%;
    height: 1080px;
    padding: 42px 88px 40px;
    position: relative;
    div,span,p,h1{
        color: #fff
    }
    .backIcon{
        width: 60px;
        height: 60px;
        position: absolute;
        right: 50px;
        bottom: 50px;
        cursor: pointer;
    }
    .headTop{
        h1{
            font-size: 37px;
            letter-spacing: 2px;
            margin-bottom: 20px
        }
        .englishTitle{
            font-size: 18px;
        }
        .right span{
            font-size: 28px;
            margin-left: 38px;
        }
    }
    .display-main-container{
        height: 734px;
        // border: 1px solid #f00;
        margin-top: 38px;
        .firstBox,.secondBox,.thirdBox{
            height: 734px;
            float: left;
        }
        .firstBox{
            width: 305px;
            background: rgba(255,255,255,0.1);   
            .oneBox{
                text-align: center;
                padding: 56px 0 ;
                h2{
                    font-size: 36px;
                    font-weight: normal;
                    color:#f6448c;
                    margin: 30px 0 22px;
                }
                p{
                    color:#f6448c;
                    font-size: 16px;
                }
            } 
            .blueColor{
                h2{
                    color: #00f6ff
                }
                p{
                    color: #00f6ff
                }
            }
            .twoBox{
                padding:40px 45px 0; 
                div{
                    height: 130px;
                }
                .unuse,.using,.cannotuse{
                    font-size: 46px;
                }
                .unuse{
                    color: #44dd8f;
                }
                .using{
                    color: #c50312
                }
                .cannotuse{
                    color: #f16b2a
                }
                .iconUse{
                    margin-left: 20px;
                    margin-top: 6px;
                    vertical-align: top;
                }
            }
        }
        .secondBox{
            width: 1150px;
            border: 6px #00bffd solid;
        }
        .thirdBox{
            width: 278px;
            // border: 1px solid #f00;
            .lightBox{
                height: 183px;
                margin-bottom: 13px;
                text-align: center;
                position: relative;
                h3{
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 50px;
                }
                h4{
                    font-size: 28px;
                    line-height: 45px;
                }
                .bgLight{
                    position: absolute;
                    width: 100%;
                    height: 183px;
                    bottom: 30px;
                    left: 20px;
                }
            }
        }
    }
    .bottom-container{
        width: 1150px;
        margin:68px 278px 0 305px;
        border-bottom: 6px solid #00bffd;
        li{
            width: 12.5%;
            text-align: center;
        }
        .washPen{
            line-height: 62px;
            font-size: 28px;
        }
    }
    .bg-box{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1
    }
}
.my-position-container{
    width: 214px;
    margin: 0 auto ;
    border-top: 4px solid #00bffd;
    .position-tip{
        img{
            vertical-align: top;
        }
    }
    .my-position{
        display: inline-block;
        width: 140px;
        text-align: center;
        span{
            font-size: 23px;
            display: block;
            line-height: 40px;
        }
    }
    .entrance{
        font-size:28px;
        text-align: center;
        background: #121541;
        position: relative;
        top: 26px; 
    }
}
.my-position-container2{
    margin: 10px 0 0 470px;
    .entrance{
        top: 16px; 
    }
}
.my-position-container3{
    margin: 10px 0 0 442px;
    .entrance{
        top: 16px; 
    }
}
.toliet-display-container{
    ul li {
        img{
            width: 54px;
            height: 56px;
        }
    }
    .toiletL7{
        li{
            height: 80px;
            border-bottom: 4px solid #00bffd;
            padding-top: 9px;
            text-align: center
        }
        
    }
    .toiletR7{
        li{
            height: 80px;
            border-bottom: 4px solid #00bffd;
            padding-top: 9px;
            text-align: center;
        }
    }
    .toiletR5{
        li{
            height: 112px;
            border-bottom: 4px solid #00bffd;
            border-right: 4px solid #00bffd; 
            text-align: center;  
            padding-top: 30px;
        }
    }
    .toiletL5{
        li{
            height: 112px;
            border-bottom: 4px solid #00bffd;
            text-align: center;
            padding-top: 30px;
        }
    }
    .borderRNo{
        border-right: none
    }
}
.toliet-display-container2{
    .colspan1{
        width: 218px;
    }
    .colspan2{
        width: 332px;
    }
    .colspan3{
        width: 370px;
    }
    .toiletL7 ,.toiletL4 ,.toiletR4{
        img{
            width: 54px;
            height: 56px;
        }
    }
    .toiletL7{
        li{
            height: 80px;
            border-bottom: 4px solid #00bffd;
            padding-top: 8px;
            text-align: center
            
        }
        
    }
    .toiletL4{
        li{
            height: 140px;
            border-bottom: 4px solid #00bffd;
            padding-top: 40px;
            text-align: center
        }
    }
    .toiletR4{
        li{
            height: 140px;
            border-bottom: 4px solid #00bffd;
            padding-top: 40px;
            text-align: center;
            border-right: 4px solid #00bffd;
        }
    }
    .toiletL5{
        li{
            height:112px;
            border-bottom: 4px solid #00bffd;
            padding-top: 40px;
            padding-left: 12px;
        }
    }
    .toiletR5{
        li{
            height: 112px;
            border-bottom: 4px solid #00bffd;
            padding-top: 40px;
            border-right: 4px solid #00bffd; 
            padding-right: 12px;
            text-align: right;
        }
        .borderRNo{
            border-right: none
        }
    }
    .toiletL6{
        li{
            height: 93px;
            border-bottom: 4px solid #00bffd;     
            text-align: center;  
            padding-top: 15px;
            img{
                width: 54px;
                height: 56px;
            }
        }
    }
    .toiletR6{
        li{
            height: 93px;
            border-bottom: 4px solid #00bffd;
            text-align: center;
            padding-top: 15px;
            border-right: 4px solid #00bffd; 
            img{
                width: 54px;
                height: 56px;
            }
        }
        .borderRNo{
            border-right: none
        }
    }
    
}
